body {  
    background-image: url('./assets/static/template.png');
    background-size: 900px 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}